/*	Color variables	*/
:root {
	--white: #fff;
	--gray: #d1d1d1;
	--light-gray: #e7e7e7;
	--dark-blue: #2c3944;
	--light-blue: #5d768d;
	--red: #ee5253;
}

::selection {
	background-color: var(--red);
	color: var(--white);
}

/*	Tag styles	*/
* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	color: var(--dark-blue);
	background-color: var(--white);
	font-family: "Inter", sans-serif;
	-moz-osx-font-smoothing: grayscale !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-webkit-text-stroke: 0.025em rgba(51, 51, 51, 0.5) !important;
}

/*	Media Queries	*/
@media (min-width: 320px) {
	h1 {
		font-weight: 900;
		font-size: clamp(32px, 6vw, 48px);
	}

	h2 {
		margin: 0.5em 0em;
		font-weight: 600;
		font-size: clamp(18px, 2vw, 24px);
	}

	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		margin-top: 2em;
	}

	li {
		padding: 1em;
		cursor: pointer;
		border-radius: 7px;
		border: 1px solid var(--gray);
		transition: all 0.2s;
		text-align: center;
	}

	li:hover {
		border: 1px solid var(--red);
	}

	img {
		width: 40px;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}

	li:hover > img {
		-webkit-filter: none;
		filter: none;
	}

	small {
		display: block;
		font-size: 12px;
		color: var(--light-blue);
	}

	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		line-height: 1.5;
		background: url("/assets/blob.gif");
		background-repeat: no-repeat;
		background-position: center;
	}
}

@media (min-width: 801px) {
	ul {
		grid-template-columns: repeat(4, 1fr);
	}
}
