/*	Color variables	*/
:root {
	--white: #fff;
	--gray: #d1d1d1;
	--light-gray: #e7e7e7;
	--dark-blue: #2c3944;
	--light-blue: #5d768d;
	--red: #ee5253;
}

/* ::selection {
	background-color: var(--red);
	color: var(--white);
} */

/*	Tag styles	*/
* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	color: var(--dark-blue);
	background: url(../assets/blobanimation.svg) no-repeat center;
	font-family: "Inter", sans-serif;
	-moz-osx-font-smoothing: grayscale !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

/*	Media Queries	*/
@media only screen and (max-width: 450px) {
	body {
		background-size: 200%;
	}
}

@media (min-width: 320px) {
	h1 {
		font-weight: 900;
		font-size: clamp(32px, 6vw, 48px);
	}

	h2 {
		margin: 0.5em 0em;
		font-weight: 600;
		font-size: clamp(18px, 2vw, 24px);
	}

	small {
		display: block;
		font-size: clamp(12px, 2vw, 16px);
		color: var(--white);
	}

	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		line-height: 1.5;
	}

	img {
		width: 30px;
		/* -webkit-filter: grayscale(100%); */
		/* filter: grayscale(100%); */
	}

	.skills {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		margin-top: 2em;
	}

	.skills li {
		background: rgba(255, 255, 255, 0.11);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(9px);
		-webkit-backdrop-filter: blur(9px);
		padding: 1em;
		cursor: pointer;
		border-radius: 7px;
		border: 1px solid transparent;
		transition: all 0.2s;
		text-align: center;
	}

	.skills li:hover {
		border: 1px solid var(--white);
	}

	/* .skills li:hover > img {
		-webkit-filter: none;
		filter: none;
	} */

	.sites {
		margin-top: 1em;
		display: flex;
		justify-content: center;
	}

	.sites li {
		margin: 0em 1em;
	}

	.sites img:hover {
		filter: invert(100%);
	}
}
