:root {
    --yellow: #fff951;
    --white: #fff;
    --red: #ff5851;
    --gray: #5b5b5b;
    --gray-variant: #D3D3D3;
    --blue: #4cc9f0;
    --green: #67a700;
    --black: #000;
}

* {
    box-sizing: border-box;
    transition: all 0.5s;
}

body {
    color: var(--gray-1);
    background-color: var(--white-1);
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: unset !important;
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
}

/* Side Nav */
.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    width: 50px;
    border-right: 1px dashed var(--gray);
    color: var(--gray);
    text-transform: uppercase;
}

.side-nav a {
    text-decoration: none;
    color: currentColor;
}

.side-nav a:hover {
    color: var(--black);
}

.side-nav .side-nav-top,
.side-nav .side-nav-bottom {
    position: absolute;
    left: 0;
    transform: rotate(-90deg) perspective(1px);
    transform-origin: 50px 50px;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    word-spacing: 0.5em;
}

.side-nav .side-nav-top {
    top: 13em;
    text-align: right;
}

.side-nav .side-nav-bottom {
    top: auto;
    bottom: 10em;
}

.side-nav-dark-button {
    background-color: var(--black);
    color: var(--white);
    border: none;
    cursor: pointer;
    width: 50px;
    font-weight: 600;
}

/* Sections */
section {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 15em 5em;

}

section h1 {
    font-size: min(3.5em, 56px);
    margin: 0.25em auto 1em auto;
    font-weight: 800;
}

section a {
    text-decoration: none;
    color: var(--gray);
}

section li {
    margin: 2em auto;
    font-weight: 400;
    text-transform: capitalize;
}

section p {
    font-weight: 600;
}

.pre {
    font-size: 1em;
    color: var(--gray);
    font-weight: 400;
}

.pre span {
    font-size: 0.75em;
    color: var(--gray);
}

.section-inner {
    max-width: 800px;
    height: 100%;
}

.hello {
    background-color: var(--yellow);
    color: var(--black);
}

.about {
    background: var(--white);
    color: var(--gray);

}

.work {
    background-color: var(--red);
    color: var(--white);
}

.projects {
    background-color: var(--blue);
    color: var(--white);
}

/* Lists */
.hello-list li::after {
    content: "";
    width: 50px;
    display: block;
    height: 2px;
    background: var(--black);
}

.hello-list li:last-child::after {
    display: none;
}

.hello-list a {
    display: block;
    padding-bottom: 2em;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.4px;
    color: inherit;
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.hello-list span,
.about-list span,
.work-list span,
.projects-list span {
    display: inline;
    padding: 0.5em 0 0;
    opacity: 0.3;
    letter-spacing: normal;
    text-transform: none;
}

.hello-list a:hover,
.projects-list a:hover {
    color: var(--red);
}

.hello-list a:hover span {
    opacity: 1;
    color: var(--gray);
}

.about-list li,
.work-list li,
.projects-list li {
    font-weight: 800;
}

.projects-list a {
    color: var(--D3D3D3);
}

.projects-list a:hover {
    border-bottom: 0.2em solid;
}

/*
    DARK MODE CSS
*/

/*  Dark mode background    */
.dark-mode-background {
    background: linear-gradient(90deg, var(--black) 21px, transparent 1%) center, linear-gradient(var(--black) 21px, transparent 99%) center, var(--gray);
    background-size: 22px 22px;
    color: var(--gray-variant);
}

/*  Dark mode button    */
.dark-mode-button {
    background-color: var(--white);
    color: var(--black);
}

/*  Dark mode font  */
.dark-mode-red-font {
    color: var(--red);
}

/*  Dark mode border    */
.dark-mode-border {
    border-bottom: 1px dashed rgba(158, 158, 158, 0.5);
}